/* colours */
:root {
    --clr-light: #f3f4fb;
    --clr-dark: #2e2e57;
    --clr-Martinique300: #abb9e5;
    --clr-Martinique400: #8396d7;
    --clr-Martinique500: #6675cb;
    --clr-Martinique600: #525bbe;
    --clr-Martinique800: #3f408e;
}    

* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Luminari, fantasy";
    background-color: var(--clr-dark);
    width: 100%;
    height: 100%;
}

#header {
    background-color: var(--clr-Martinique800);
    color: var(--clr-light);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    gap: 40px;
    background-color: #8396d7;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    gap: 40px;
    align-items: baseline;
    padding: 60px;
    border: 5px solid;
    border-color: var(--clr-Martinique800);
    border-radius: 10%;
    background-color: var(--clr-Martinique300);  
}

button, label {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    border-radius: 6px;
    border-color: var(--clr-Martinique800);
    box-shadow: 0 10px 20px rgb(46 46 87), 0 6px 6px, 0 0 100px -10px rgb(46 46 87);
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover, label:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 28px rgb(46 46 87), 0 10px 10px rgb(46 46 87), 0 0 120px -10px rgb(46 46 87);
   }

#colorSelect {
    display: flex;
    align-items: center;
    gap: 20px;
}

label {
    border: solid 2px;
    border-color: var(--clr-Martinique800);
}

input[type="color"] {
	width: 32px;
	height: 32px;
	border: 4px solid;
    border-radius: 25%;
    border-color: var(--clr-Martinique800);
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    border: 5px solid;
    border-color: var(--clr-Martinique800);
    background-color: var(--clr-Martinique300);
   
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}

